#login-buttons {
	font-size: 14px;
	margin: 18px;
}

.bins-share {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.bins-share .input-group {
	width: 30%;
}

.guide {
	margin-top: 50px;
}

.navbar-right {
	padding-right: 100px;
	margin-right: 0;
}

.login-link-text {
	color: white;
	font-weight: bold;
}

#login-buttons a{
	text-decoration: none;
}