.navbar-inverse{
	margin-bottom: 37px;
}

#bin {
	color: white;
	font-weight: bold;
	border-bottom: 3px solid white;
}

#login-buttons {
	font-size: 14px;
	margin: 18px;
}

.bins-share {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.bins-share .input-group {
	width: 30%;
}

.navbar-right {
	padding-right: 100px;
	margin-right: 0;
}

.login-link-text {
	color: white;
	font-weight: bold;
}

#login-buttons a{
	text-decoration: none;
}

#login-dropdown-list {
	top: 29px;
	left: -162px;
}